body
{
    font-family:'Times New Roman', Times, serif;
    background:linear-gradient(0deg, rgba(37, 44, 138, 0.096), rgba(6, 59, 95, 0.226)), url(backgrounds/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 1000px;
}

#header
{
    width: 100%;
    height: 50px;
    color: white;
}

a
{
    color: white;
    text-decoration: none;
}  

#logoname
{
    float: left;
    width: 25%;
}
 
#logo
{
    float: left;
    padding: 10px;
    width: 30px;
}

#name
{
    float: left;
    margin-top: 10px;
    font-size: 25px;
}

#nav1
{
    float: right;
    margin-top: 0px;
    padding-left: 25px;
    width: 64%; 
    height: 40px;
    font-size: 18px;
    font-weight: 500; 
}

#home
{
    float: left;
    margin: 12px 10px 12px 25px;
    padding-left: 100px;
    padding-right: 5px;
    transition: font-size .2s, padding-right .2s;
}

#home:hover
{
    font-size: 18.8px;
    margin-top: 11px;
    padding-right: 3px;
}


#pd
{
    float: left;
    margin: 12px 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: font-size .2s, padding-right .2s;
}

#pd:hover
{
    font-size: 18.5px;
    padding-right: 1px;
}

#npd
{
    float: left;
    margin: 12px 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: font-size .2s, padding-right .2s;
}

#npd:hover
{
    font-size: 18.5px;
    padding-right: 0px;
}

#dd
{
    float: left;
    margin: 12px 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: font-size .2s, padding-right .2s;
}

#dd:hover
{
    font-size: 18.5px;
    padding-right: 1px;
}

#cartimg
{
    float: left;
    padding: 0px 3px;
    margin-top: 5px;
    width: 50px;
}

#userimg
{
    float: left;
    padding: 0px 9px;
    margin-top: 5px;
    width: 35px;
}

#userinfo
{
    width: 90%;
    height: 50px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    padding: 30px;
    letter-spacing: .6px;
    opacity: .8;
}

#username
{
    margin-left: 100px;
    float: left;
    width: 65%;
}

#account
{
    float: right;
    width: 25%;
}


#container
{
    width: 98%;
    height: 800px;
    padding-right: 0px;
}

#header
{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#items
{
    float: left;
    width: 96%;
}

.itemdisplay
{
    float: left;
    width: 100%;
    padding: 20px;
    margin-left: 26px;
    margin-bottom: 50px;
    border-radius: 25px;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.151));
}

.item
{
    float: left;
    width: 15%;
    padding: 2% 4%;
    margin-right: 25px;
    border-radius: 25px;
    background-color: white;
}

.bottle
{
    width: 100%;
}

.description
{
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: .5px;
}

.description p
{
    width: 58%;
    margin-bottom: -7px;
}

.label
{
    font-weight: bold;
    margin-left: 5px;
}

.data
{
    float: right;
    padding-left: 2px;
}

.itemname
{
    width: 100%;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .5px;
}

.cancelbox
{
    margin-top: 20px;
    margin-right: -50px;
    float: right;
    width: 20%;
    font-size: 18px;
}

.cancel
{
    padding: 2%;
    width: 100%;
}

.cancelbutton:hover
{
    cursor: pointer;
}

.add
{
    margin-top: -250px;
    width: 100%;
    height: 80px;
    font-size: 20px;
}

.addbox
{
    float: right;
    width: 58%;
    height: 50px;
}

.addpres
{
    width: 25%;
    height: 50px;
}

.addbutton
{
    width: 100%;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    background:linear-gradient(0deg, rgba(167, 159, 159, 0.24), rgba(255, 255, 255, 0.151));
}

.addbutton:hover
{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(250, 247, 247, 0.274), rgba(255, 255, 255, 0.151));
}

#section2
{
    margin-top: 350px;
    width: 98%;
    height: 600px;
}


#container2
{
    width: 98%;
    height: 600px;
    padding-right: 0px;
}

.tdescription
{
    padding: 10px 10px;
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 15px;
}

.trustee
{
    float: left;
    width: 50%;
    padding: 30px;
    margin-left: 25%;
    border-radius: 25px;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.151));
}

.info
{
    font-weight: bold;
    margin-left: 5px;
    letter-spacing: .5px;
}

#nav2
{
    margin-top: 200px;
    padding-bottom: 20px;
    width: auto;
    font-size: 20px;   
    font-weight: 500;
    color:white; 
    text-align: center; 
}

a
{
    color: white;
    text-decoration: none;
}

.navi
{
    max-width: 90%;
    padding: 10px 30px 5px 30px; 
}

#n2faq:hover
{
    font-size: 20.5px;
    padding: 8px 29.5px 5px 29.5px;
}

#n2home:hover
{
    font-size: 20.5px;
    padding: 8px 29.5px 5px 29.5px;
}

#n2npd:hover
{
    font-size: 20.3px;
    padding: 8px 0px 5px 0px;
    margin: 0px -1.5px;
}

#n2pd:hover
{
    font-size: 20.3px;
    padding: 8px 0px 5px 0px;
    margin: 0px -1.5px;
}

#n2dd:hover
{
    font-size: 20.3px;
    padding: 8px 0px 5px 0px;
    margin: 0px -1px;
}

#marketing:hover
{
    font-size: 20.4px;
    padding: 8px 0px 5px 0px;
    margin: 0px -.5px;
}

#about:hover
{
    font-size: 20.4px;
    padding: 8px 0px 5px 0px;
    margin: 0px -.5px;
}
