body
{
    font-family:'Times New Roman', Times, serif;
    background-image: url(backgrounds/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 1500px;
}

#header
{
    width: 100%;
    height: 50px;
    color: white;
}
    

#logoname
{
    float: left;
    width: 25%;
}
 
#logo
{
    float: left;
    padding: 10px;
    width: 30px;
}

#name
{
    float: left;
    margin-top: 10px;
    font-size: 25px;
}

#nav1
{
    float: right;
    margin-top: 0px;
    margin-right: -235px;
    width:58%; 
    height: 40px;
    font-size: 18px;
    font-weight: 500;      
}

#home
{
    float: left;
    margin: 12px 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#pd
{
    float: left;
    margin: 12px 10px;
    padding-left: 5px;
    padding-right: 5px;
}


#dd
{
    float: left;
    margin: 12px 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#cartimg
{
    float: left;
    padding: 0px 8px;
    margin-top: 5px;
    width: 45px;
}

#userimg
{
    float: left;
    padding: 0px 9px;
    margin-top: 5px;
    width: 35px;
}

a
{
    color: white;
    text-decoration: none;
}

#shoptitle
{
    margin-top: 50px;
    width: 70%;
    height: 100px;
}

h1
{
    float: right;
    font-size: 45px;
}

#itemdisplay
{
    padding-left: 0px;
    margin-bottom: 250px;
    width: 100%;
    height: fit-content;
    max-width: fit-content;
}

.row
{
    width: 95%;
    height: 375px;
    padding: 10px;
    margin: 20px 0px -80px 50px;
}

.container
{
    float: left;
    width: 30%;
    height: 90%;
    padding: 10px; 
    margin: 10px 5px -20px 5px;
}

.itembox
{
    width: 95%;
    height: 95%;
    padding: 10px;
    transition: width .5s, height .5s, padding .5s;
}

.item
{
    float: left;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
}

.itembox:hover
{
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}

.image
{
    width: 100%;
    height: 100%;
}

.price
{
    float: left;
    height: 50px;
    width: 100px;
    margin:  5px;
    padding: 5px;
    color: rgb(58, 172, 248);
}

.pricetag
{
    float: left;
    text-align: center;
    height: 30px;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}

.bottle
{
    padding: 0px 55px;
    margin: -30px 0px -35px 20px;
    vertical-align: middle;
    width: 55%;
}

.name
{
    float: left;
    width: 97%;
    height: 40px;
    padding-top: 5px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: rgb(29, 160, 247);
}


#nav2
{
    margin-top: 90px;
    width: auto;
    font-size: 20px;   
    font-weight: 500;
    color:white; 
    text-align: center; 
}

a
{
    color: white;
    text-decoration: none;
}

.navi
{
    max-width: 90%;
    padding: 10px 30px 5px 30px; 
}

#n2faq:hover
{
    font-size: 20.5px;
    padding: 8px 29.5px 5px 29.5px;
}

#n2home:hover
{
    font-size: 20.5px;
    padding: 8px 29.5px 5px 29.5px;
}

#n2npd:hover
{
    font-size: 20.3px;
    padding: 8px 0px 5px 0px;
    margin: 0px -1.5px;
}

#n2pd:hover
{
    font-size: 20.3px;
    padding: 8px 0px 5px 0px;
    margin: 0px -1.5px;
}

#n2dd:hover
{
    font-size: 20.3px;
    padding: 8px 0px 5px 0px;
    margin: 0px -1px;
}

#marketing:hover
{
    font-size: 20.4px;
    padding: 8px 0px 5px 0px;
    margin: 0px -.5px;
}

#about:hover
{
    font-size: 20.4px;
    padding: 8px 0px 5px 0px;
    margin: 0px -.5px;
}